h1 {
  color: blue;
}

button {
  background-color: rgb(229, 234, 236);
  color: blue;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  color: white;
  background: rgb(11, 47, 126);
  font-weight: 650;
  box-shadow: rgb(37 39 89 / 20%) 0px 8px 8px 0;
  transition: all 200ms ease-in-out;
}

span:hover {
  color: navy;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
}

.signature {
  font-weight: 800;
  font-size: 20px;
  font-family: Rochester;
}
